.enterprise {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.enterprise__info {
    padding: 6.875rem 0; 
}

.enterprise__info__container {
    width: 32.75rem;
    float: right;
    padding-right: 7.125rem;
}

.enterprise__info__container h3 {
    margin: 0;
    margin-bottom: 47px;
    font-size: 1.5625rem;
    color: #333333;
    font-weight: 700;
    font-family: "Montserrat";
}

.enterprise__info__container p {
    margin: 0;
    margin-bottom: 16px;
    font-size: 0,0625rem;
    line-height: 1.6875rem;
    color: #333333;
    font-weight: 400;
    font-family: "Roboto";
}

.enterprise__image {
    margin-top: 2.8125rem;
}