.events {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    text-align: center;
}

.events p {
    text-align: justify;
    padding: 0 1rem;
}

.event__information h3 {
    font-size: 1.25rem;
    letter-spacing: 0.25rem;
    line-height: 1.125rem;
    color: #ffc602;
    text-transform: uppercase;
    margin-top: 2rem;
    margin-bottom: 1.75rem;
}

.event__information h4 {
    font-size: 0.9375rem;
    letter-spacing: 0.1875rem;
    line-height: 1.125rem;
    color: #000;
    margin: 0;
}

.event__information p {
    font-size: 1.0625rem;
    line-height: 1.6875rem;
    color: #333;
    font-weight: 400;
    font-family: "Roboto";
}

.event__image {
    float: unset;
    padding: 0;
}

.brazuca_1 {
    padding-bottom: 3rem;
    padding-top: 2rem;
}

.brazuca_2 {
    padding-bottom: 2.9375rem;
}

.brazuca_3 {
    padding-bottom: 2rem;
    background-color: #f5f5f5;
}

.complement__brazuca_3 {
    grid-column: 2;
    width: 100%;
    height: 100%;
    font-size: 1.0625rem;
    line-height: 1.6875rem;
    color: #333;
    font-weight: 400;
    font-family: "Roboto";
}

.address__brazuca_3 {
    grid-column: 2;
}

.address__brazuca_3 div {
    display: grid;
    grid-template-columns: 3.125rem 1fr;
    padding-top: 2.375rem;
    padding-bottom: 3.5rem;
}

.address__brazuca_3 span {
    padding-top: 0.9375;
}

.address__brazuca_3 i {
    color: var(--color-primary);
    font-size: 2.1875rem;
}

.address__brazuca_3__title {
    font-size: 0.9375rem;
    letter-spacing: 0.1875rem;
    line-height: 1.125rem;
    font-weight: 400;
    color: #000;
    font-family: "Montserrat";
    text-transform: uppercase;
    margin: 0;
}

.address__brazuca_3__address {
    font-size: 0.875rem;
    line-height: 1.6875rem;
    color: #333;
    font-weight: 400;
    font-family: "Roboto";
    margin: 0;
}

.address__brazuca_3__button {
    padding: 0;
}

.brazuca_4 {
    padding-bottom: 2rem;
}

.ingresso {
    padding: 0;
}

.event__data {
    display: flex;
    justify-content: center;
}

.event__clock {
    color: var(--color-primary);
    font-size: 1.375rem;
    align-self: center;
    margin-right: 1rem;
}

/* Desktop */
@media screen and (min-width: 1280px) {
    .events {
        display: grid;
        grid-template-columns: 15.625rem 31.25rem 25rem;
    }

    .event__image {
        float: right;
        padding-right: 3.125rem;
    }

    .event__data {
        display: grid;
        grid-template-columns: 2.0625rem 1fr;
    }

    .event__clock {
        margin: 0;
    }

    .ingresso {
        padding-top: 6.25rem;
        padding-left: 5.625rem
    }

    .complement__brazuca_3 {
        width: 795px;
        height: 170px;
    }

    .address__brazuca_3__button {
        padding-top: 2.375rem;
        padding-left: 6.875rem;
    }

    .brazuca_3 {
        padding-top: 2.1875rem;
    }

    .brazuca_1 {
        padding-top: 5.875rem;
        padding-bottom: 5.1875rem;
    }
    
    .brazuca_4 {
        padding-top: 2.9375rem;
        padding-bottom: 6.625rem;
    }
}
