.events {
    display: grid;
    grid-template-columns: 250px 500px 300px;
}

.event__information h3 {
    font-size: 20px;
    letter-spacing: 4px;
    line-height: 18px;
    color: #ffc602;
    text-transform: uppercase;
}

.event__information h4 {
    font-size: 15px;
    letter-spacing: 3px;
    line-height: 18px;
    color: #000;
}

.event__information p {
    font-size: 17px;
    line-height: 27px;
    color: #333;
    font-weight: 400;
    font-family: "Roboto";
}

.event__image {
    float: right;
    padding-right: 50px;
}

.brazuca_1 {
    padding-top: 94px;
    padding-bottom: 83px;
}

.brazuca_2 {
    padding-bottom: 47px;
}

.brazuca_3 {
    padding-top: 35px;
    background-color: #f5f5f5;
}

.brazuca_4 {
    padding-top: 47px;
    padding-bottom: 106px;
}