.testimonial_background {
    background-color: #ffc400;
}

.slider-testimonials {
    padding: 4.8125rem 0;
}

.copy__inside {
    display: flex;
    justify-content: center;
    align-items: center;
}

.text_slide {
    text-align: center;
}

.text_slide span {
    display: grid;
    grid-template-columns: 1fr;
}

.text_slide small {
    padding-right: 23.5rem;
    text-align: right;
}

.text_slide h3 {
    margin: 0;
    font-size: 2rem;
    letter-spacing: -0.125rem;
    padding-top: 2.1875rem;
    color: #000;
    font-weight: 700;
    font-family: "Montserrat";
}

.text_slide small {
    text-align: center;
    padding-right: 0;
    padding-left: 7rem;
    font-size: 0.6rem;
    letter-spacing: 0.1875rem;
    padding-bottom: 1.75rem;
    color: #000;
    font-weight: 400;
    font-family: "Montserrat";
}

.text_slide p {
    width: 100%;
    height: 100%;
    padding: 0 1rem;
    font-size: 0.9375rem;
    line-height: 1.875rem;
    color: #000;
    font-weight: 400;
    font-family: "Montserrat";
    margin: 0;
    display: inline-block;
}

/* Desktop */
@media screen and (min-width: 1280px) {
    .text_slide h3 {
        font-size: 3.125rem;
    }

    .text_slide small {
        font-size: 0.875rem;
    }

    .text_slide p {
        width: 589px;
        height: 75px;
    }
}